{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/compare.css') }}">
{% endblock %}
{% block body %}

    <section>
        <div class="compare-title">
            <div class="title-content">
                <p>Сравнение</p>
                <span>
                Добро пожаловать на страницу сравнения спортивных секций!<br>
                Здесь вы можете детально сравнить выбранные вами спортивные секции,
                    чтобы найти идеальный вариант, соответствующий вашим потребностям и интересам.
                </span>
            </div>
        </div>
        <div class="compare-container">
            <div class="course-compare-wrapper">
                <div class="navigate">
                    <div class="left" style="opacity: 1;">
                        <div class="icon icon--prev"></div>
                    </div>
                    <div class="right" style="opacity: 1;">
                        <div class="icon icon--next"></div>
                    </div>
                </div>
                <div class="scrollbar" style="opacity: 1;"><span class="handle" style="width: 84.68%; left: 0%;"></span></div>
                <div class="course-compare-table table-head">
                    <div class="item item-first">
                        <p>Секция</p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <span><b>Личные финансы и инвестиции</b></span>
                    </div>
                </div>
                <div class="course-compare-table table-body">
                    <div class="table-row">
                        <div class="item item-first">
                            <p>Секция</p>
                        </div>
                        <div class="item">
                            <p><b>Личные финансы и инвестиции</b></p>
                        </div>
                        <div class="item">
                            <p><b>Личные финансы и инвестиции</b></p>
                        </div>
                        <div class="item">
                            <p><b>Личные финансы и инвестиции</b></p>
                        </div>
                        <div class="item">
                            <p><b>Личные финансы и инвестиции</b></p>
                        </div>
                        <div class="item">
                            <p><b>Личные финансы и инвестиции</b></p>
                        </div>
                        <div class="item">
                            <span><b>Личные финансы и инвестиции</b></span>
                        </div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="item item-first">
                        <p>Секция</p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                    <div class="item">
                        <p><b>Личные финансы и инвестиции</b></p>
                    </div>
                </div>
            </div>

        </div>

    </section>

{% endblock %}