{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block body %}
    <section>
        <div class="profile-container">
            <div class="controll">
                <p class="conroll-title">Личный кабинет</p>
                <a href="{{ path('app_profile_user_info') }}">Профиль на сайте</a>
                <a href="#">Мои записи</a>
                <a href="{{ path('app_logout') }}" class="log-out">Выйти</a>
            </div>
            <div class="profile-content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
