.compare-title {
    background: linear-gradient(-45deg, #FBF4D8, #E7F7ED);
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
}

.title-content {
    margin: 0 10%;
}

.title-content p {
    font-size: 40px;
    font-weight: bold;
}

.title-content span {
    font-size: 24px;
}

.compare-container {
    margin: 80px 10% 114px 10%;
}

.action{
    display: flex;
}

.entries{
    border: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
}

.delete-button{
    margin-left: 10px;
    background: red;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/*Тест*/

.course-compare-wrapper {
    overflow: auto;
    position: relative;
    border-radius: 6px;
}

.course-compare-table .table-head {
    position: sticky;
    top: 10px;
    z-index: 100;
    transition: all 0.15s ease-out;
}

.course-compare-table .head, .course-compare-table .row {
    transition: all 0.15s ease-out;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    min-width: fit-content;
}

.course-compare-table .head .item.item-first, .course-compare-table .row .item.item-first {
    position: sticky;
    justify-content: flex-start;
    text-align: left;
    background: #ffffff;
    left: 0;
    z-index: 100;
    width: 290px;
    flex: none;
    color: #474747;
}

.course-compare-table .head .item:not(.item-first), .course-compare-table .row .item:not(.item-first){
    border: 1px solid #939393;

}

.course-compare-table .head:first-child .item:not(.item-first):nth-child(2) {
    border-left: 1px solid #939393;
    border-top-left-radius: 6px;
}

.course-compare-table .row:last-child .item:not(.item-first):nth-child(2) {
    border-bottom-left-radius: 6px;
}

.course-compare-table .row:last-child .item:not(.item-first):last-child {
    border-bottom-right-radius: 6px;
}

.course-compare-table .head:first-child .item:not(.item-first):last-child {
    border-right: 1px solid #939393;
    border-top-right-radius: 6px;
}

.course-compare-table .head .item, .course-compare-table .row .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    align-self: stretch;
    height: inherit;
    padding: 17px 23px;
    box-sizing: border-box;
    flex:0 0 22%;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    word-break: break-word;
}









