
.title-container {
    background: linear-gradient(45deg, #32A888, #66F4A0);
    width: 100%;
    color: white;
}

a {
    text-decoration: none;
}

.popular-title{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.title-content {
    padding: 50px 10% 50px 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.title-content img {
    margin-left: auto;
    width: 40%;
}

.desc .button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    width: 25%;
    height: 55px;
}

.slogan {
    font-size: 24px;
}

.desc p:first-of-type {
    font-size: 48px;
    font-weight: bold;
}

.desc p {
    margin: 0 0 15% 0;
}

.popular-container {
    padding: 3% 10% 0 10%;
}

.title-all-for-you {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.popular-section {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 55px;
    margin-top: 3%;
    width: 100%;
}

.card {
    width: 100%;
    height: 550px;
    display: inline-block;
    border-radius: 30px;
}

.card a {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 30px;
}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.caption {
    font-size: 32px;
}

.go-to-catalog {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 10%;
}

.card a,
.go-to-catalog:hover {
    color: white;
    text-decoration: underline;
}



.container-all-for-you .all-for-you-image {
    margin-left: auto;
}

.positive {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.positive p {
    margin-left: 15px;
}

.container-all-for-you a {
    color: white;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    width: 70%;
    height: 55px;
}

.all-for-you {
    margin: 80px 10%;
}
.container-all-for-you {
    display: flex;
}


@media screen and (min-width: 375px) and (max-width: 1342px){
    .title-content img{
        display: none;
    }

}

@media screen and (min-width: 375px) and (max-width: 1024px){
    .all-for-you-image{
        display: none;
    }

}




