<hr style="border-top: 1px solid #ccc;">
<footer>
    <div class="footer-container">
        <div>
            <img src="{{ asset('images/Logo.svg') }}" class="footer-logo">
            <p>Информация о курсах и обучающих программах не я <br>
                вляется офертой, носит ознакомительный характер.<br>
                Точные условия размещены на официальных сайтах школ и<br>
                авторов курсов.
            </p>
            <p>
                Вся информация на сайте, включая тексты<br>
                и визуальные элементы являются интеллектуальной<br>
                собственностью, их копирование и использование<br>
                без согласия запрещено
            </p>
            <a href="#"><img src="{{ asset('images/VK.svg') }}" alt="VK_image"></a>
            <a href="#" style="margin-left: 15px"><img src="{{ asset('images/Telegram.svg') }}" alt="Telegram_image"></a>
        </div>
        <div class="chapter">
            <p>Разделы</p>
            <a href="#">Каталог</a>
            <a href="#">Блог</a>
        </div>
        <div class="chapter">
            <p>Информация</p>
            <a href="#">О нас</a>
            <a href="#">Обратная связь</a>
            <a href="#">Пользовательское соглашение</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Политика обработки персональных данных</a>
        </div>

        <div>

        </div>
        <div>

        </div>
    </div>

</footer>